<ul nz-menu nzMode="horizontal" nzTheme="dark" class="text-center">
  <li nz-menu-item nzSelected>
    <a class="text-decoration-none" routerLink="/operation-one">
      <i nz-icon nzType="file-text"></i>
      Frekans
    </a>
  </li>
  <li nz-menu-item>
    <a class="text-decoration-none" routerLink="/operation-two">
      <i nz-icon nzType="file-search"></i>
      Anahtar Kelimler
    </a>
  </li>
  <li nz-menu-item>
    <a class="text-decoration-none" routerLink="/operation-three">
      <i nz-icon nzType="subnode"></i>
      Url Havuzu
    </a>
  </li>
  <li nz-menu-item>
    <a class="text-decoration-none" routerLink="/operation-four">
      <i nz-icon nzType="sisternode"></i>
      Url - Alt Url Havuzu
    </a>
  </li>
  <li nz-menu-item>
    <a class="text-decoration-none" routerLink="/operation-five">
      <i nz-icon nzType="mac-command"></i>
      Semantik
    </a>
  </li>
</ul>