<ng-template #notification let-notification="data">
  <nz-tag [nzColor]="notification.color">{{ notification.title }}</nz-tag>
  <button nz-button nzSize="small">{{ notification.message }}</button>
</ng-template>

<ng-template #titleTemplate>
  <div nz-row nzJustify="space-between">
    <div nz-col nzMd="12">
      Aşama 1 - Sayfada Geçen Kelimelerin Frekanslarını Hesaplama
    </div>
    <div nz-col nzMd="12">
      <div nz-row nzJustify="end">
        <div nz-col>
          <app-operation-infos operationName="operationOne"></app-operation-infos>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<nz-card  nzType="inner"  [nzTitle]="titleTemplate">
  <nz-input-group nzSearch nzSize="large" nzAddOnBeforeIcon="link" [nzAddOnAfter]="suffixButton">
    <input #OperationOneInput  type="text" nz-input placeholder="http://bilgisayar.kocaeli.edu.tr" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button (click)="getFrequency(OperationOneInput.value)" nz-button nzType="primary" nzSize="large" nzSearch>Gönder</button>
  </ng-template>
</nz-card>

<nz-card class="mt-2 " *ngIf="send == true"  nzType="inner"  nzTitle="Sonuçlar">
  <div class="text-center">
    <nz-spin nzSimple></nz-spin>
  </div>
</nz-card>

<nz-card class="mt-2" *ngIf="operationOneData && send == false"  nzType="inner"  nzTitle="Sonuçlar">
  <nz-alert
  nzType="success"
  nzMessage="Site Bilgileri Getirildi"
  [nzDescription]="alertMessage"
></nz-alert>
<ng-template #alertMessage>
  <strong>Site Title : </strong>&nbsp;<a >{{
                  operationOneData.title
                }}</a><br>
                <strong>Site Url &nbsp; : </strong>&nbsp;<a href="{{ operationOneData.url }}">{{
                  operationOneData.url
                }}</a>
</ng-template>


  <nz-table class="mt-2" [nzPageSize]=5 #wordsTable [nzData]="operationOneData.words" nzBordered nzTitle="Hesaplanan Frekans Değerleri">
  <thead>
    <tr>
      <th>Kelime</th>
      <th>Tekrar Sayısı</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of wordsTable.data">
      <td>{{data.word}}</td>
      <td>{{data.frequency}}</td>
    </tr>
  </tbody>
</nz-table>
</nz-card>