<ng-template let-notification="data">
  <nz-tag [nzColor]="notification.color">{{ notification.title }}</nz-tag>
  <button nz-button nzSize="small">{{ notification.message }}</button>
</ng-template>

<nz-card
  nzType="inner"
  nzTitle="Aşama 3 - 2 sayfa (Url) arasında benzerlik Skorlaması"
>
  <p>
    <b>Aşama 3 :</b><br />
    Girilen 2 Url içeriğinde (Url’in gösterdiği sayfa içeriğinde) bulunan
    anahtar kelimeler yardımı ile birbirlerine olan benzerliklerini hesaplar.
    <br /><br />
    <b>Nasıl kullanılır ?</b><br />
    Aşağıda bulunan giriş alanlarına benzerliklerini incelemek istediğiniz
    Url'lerin adresini giriniz. Girilen ikinci url'in birinci url'e yüzde kaç
    oranında benzediği listelenir. Aşağıda bulunan ilk alana karşılaştırma
    yapılacak url'i giriniz.<br />
    İkinci alanda ise benzerliği incelenecek Url'in adresini giriniz.<br />
    Girilen ikinci url'in birinci url'e yüzde kaç oranında benzediği, Url
    bilgileri, anahtar kelimeleri listelenir.
    <br />
  </p>

  <nz-input-group nzSearch nzSize="large" nzAddOnBeforeIcon="link">
    <input
      [(ngModel)]="webSite"
      type="text"
      nz-input
      placeholder="http://bilgisayar.kocaeli.edu.tr"
    />
  </nz-input-group>

  <nz-input-group
    class="mt-2"
    nzSearch
    nzSize="large"
    nzAddOnBeforeIcon="appstore-add"
    [nzAddOnAfter]="addWebSite"
  >
    <input
      #OperationThreeInputTwo
      type="text"
      nz-input
      placeholder="http://bilgisayar.kocaeli.edu.tr"
    />
    <ng-template #addWebSite>
      <button
        (click)="addUrl(OperationThreeInputTwo.value)"
        nz-button
        nzType="primary"
        class="btn btn-warning"
        nzSize="large"
        nzSearch
      >
        Hazuva Ekle
      </button>
    </ng-template>
  </nz-input-group>

  <nz-list class="mt-2" nz-list nzBordered nzSize="small">
    <nz-list-header>Havuz Listesi</nz-list-header>
    <nz-list-item *ngFor="let item of urlList; let i = index">
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            (click)="removeUrl(i)"
            nz-button
            nzDanger
            nzSize="small"
            nzShape="circle"
          >
            <i
              style="vertical-align: 0.125em !important"
              nz-icon
              nzType="delete"
            ></i>
          </button>
        </nz-list-item-action>
      </ul>
      <a routerLink="{{ item }}">{{ item }}</a>
    </nz-list-item>
    <nz-list-empty *ngIf="urlList.length === 0"></nz-list-empty>
  </nz-list>
  <button (click)="getSimilarity()" nz-button nzType="primary" nzBlock>
    <i nz-icon nzType="deployment-unit" nzTheme="outline"></i> Başlat
  </button>
</nz-card>

<nz-card class="mt-2" *ngIf="send == true" nzType="inner" nzTitle="Sonuçlar">
  <div class="text-center">
    <nz-spin nzSimple></nz-spin>
  </div>
</nz-card>

<div *ngIf="result && send == false">
  <nz-card class="mt-2" nzType="inner" nzTitle="Temel Site">
    <nz-alert
      nzType="success"
      nzMessage="Site Bilgileri Getirildi"
      [nzDescription]="alertMessage"
    ></nz-alert>
    <ng-template #alertMessage>
      <strong>Site Title : </strong>&nbsp;<a href="{{ result.webSite.url }}">{{
        result.webSite.title
      }}</a
      ><br />
      <strong>Site Url &nbsp; : </strong>&nbsp;<a
        href="{{ result.webSite.url }}"
        >{{ result.webSite.url }}</a
      >
    </ng-template>

    <nz-ribbon nzText="Anahtar Kelimeler">
      <nz-card>
        <nz-table
          class="mt-2"
          [nzPageSize]="5"
          #keywordsTable
          [nzData]="result.webSite.keywords"
          nzBordered
          nzTitle="Anahtar Kelimeler"
        >
          <thead>
            <tr>
              <th>Anahtar kelime</th>
              <th>Frekans</th>
              <th>Skor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let keyword of keywordsTable.data; let i = index">
              <td>{{ keyword.word }}</td>
              <td>
                <span class="badge bg-secondary">{{ keyword.frequency }}</span>
              </td>
              <td>
                <span class="badge bg-danger">{{ keyword.score }}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-ribbon>
  </nz-card>

  <nz-card
    *ngFor="let webSite of result.webSitePool"
    class="mt-2"
    nzType="inner"
    nzTitle="Hedef Site | {{ webSite.webSite.title }}"
  >
    <nz-alert
      nzType="success"
      nzMessage="Site Bilgileri Getirildi"
      [nzDescription]="alertMessage"
    ></nz-alert>
    <ng-template #alertMessage>
      <strong>Site Title : </strong>&nbsp;<a href="{{ result.webSite.url }}">{{
        result.webSite.title
      }}</a
      ><br />
      <strong>Site Url &nbsp; : </strong>&nbsp;<a
        href="{{ result.webSite.url }}"
        >{{ result.webSite.url }}</a
      ><br />
      <strong>Benzerlik Skoru &nbsp; : </strong> {{webSite.similarityScore}}
    </ng-template>

    <nz-ribbon nzText="Anahtar Kelimeler">
      <nz-card>
        <nz-collapse nzAccordion>
          <nz-collapse-panel  [nzActive]="false">
            <nz-table
          class="mt-2"
          [nzPageSize]="5"
          #keywordsTable
          [nzData]="webSite.webSite.keywords"
          nzBordered
          nzTitle="Anahtar Kelimeler"
        >
          <thead>
            <tr>
              <th>Anahtar kelime</th>
              <th>Frekans</th>
              <th>Skor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let keyword of keywordsTable.data; let i = index">
              <td>{{ keyword.word }}</td>
              <td>
                <span class="badge bg-secondary">{{ keyword.frequency }}</span>
              </td>
              <td>
                <span class="badge bg-danger">{{ keyword.score }}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
          </nz-collapse-panel>
        </nz-collapse>
        
      </nz-card>
    </nz-ribbon>
  </nz-card>
</div>

<!--  <nz-table class="mt-2" [nzPageSize]=5 #keywordsTable [nzData]="operationTwoData.keywords" nzBordered nzTitle="Hesaplanan Frekans Değerleri">
  <thead>
    <tr>
      <th>Anahtar kelime</th>
      <th>Frekans</th>
      <th>Skor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let keyword of keywordsTable.data let i=index">
            <td>{{keyword.word}}</td>
            <td><span class="badge bg-secondary">{{keyword.frequency}}</span></td>
            <td><span class="badge bg-danger">{{keyword.score}}</span></td>
    </tr>
  </tbody>
</nz-table> -->

<!--
      
    <div class="accordion " *ngIf="result">
        <div class="accordion-item">
            <h1 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Hedef Url
                </button>
            </h1>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="alert alert-success" role="alert">
                        <strong>Site Title : </strong>&nbsp;<a >{{
                            result.webSite.title
                        }}</a><br>
                        <strong>Site Url &nbsp; : </strong>&nbsp;<a href="{{ result.webSite.url }}">{{
                            result.webSite.url
                        }}</a>
                        </div>
                        <table class="table table-secondary">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Anahtar kelime</th>
                            <th scope="col">Frekans</th>
                            <th scope="col">Skor</th>
                            </tr>
                        </thead>
                        <tbody class="fs-5" *ngFor="let keyword of result.webSite.keywords; let i=index">
                            <tr>
                            <th scope="row"><span class="badge bg-dark">{{i+1}}</span></th>
                            <td>{{keyword.word}}</td>
                            <td><span class="badge bg-secondary">{{keyword.frequency}}</span></td>
                            <td><span class="badge bg-danger">{{keyword.score}}</span></td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div><br>
    <div class="accordion" *ngIf="result">
        <div class="accordion-item ">
            <h1 class="accordion-header " id="headingTwo">
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Karşılaştırılan Url
                </button>
            </h1>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="alert alert-success" role="alert">
                        <strong>Site Title : </strong>&nbsp;<a >{{
                            result.webSitePool[0].webSite.title
                        }}</a><br>
                        <strong>Site Url &nbsp; : </strong>&nbsp;<a href="{{ result.webSitePool[0].webSite.url }}">{{
                            result.webSitePool[0].webSite.url
                        }}</a><br>
                        <strong>Site Benzerlik Skoru   : </strong>&nbsp;<span class="badge bg-danger fs-5">{{result.webSitePool[0].similarityScore}}%</span>
                        </div>
                        <table class="table table-secondary">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Anahtar kelime</th>
                            <th scope="col">Frekans</th>
                            <th scope="col">Skor</th>
                            </tr>
                        </thead>
                        <tbody class="fs-5" *ngFor="let keyword of result.webSitePool[0].webSite.keywords; let i=index">
                            <tr>
                            <th scope="row"><span class="badge bg-dark">{{i+1}}</span></th>
                            <td>{{keyword.word}}</td>
                            <td><span class="badge bg-secondary">{{keyword.frequency}}</span></td>
                            <td><span class="badge bg-danger">{{keyword.score}}</span></td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</div>
<div id="loading" [style.visibility]="control ? visible : hidden">
    <div class="spinner-border text-light " style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden ">Loading...</span>
    </div>
    <button type="button" (click)="closeLoading()" class="btn btn-secondary" style="margin-top: 10px;">İptal Et</button>
</div>


<nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'" (nzOnClose)="handleClose(tag)">
    {{ sliceTagName(tag) }}
  </nz-tag>
  <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
    <i nz-icon nzType="plus"></i>
    New Tag
  </nz-tag>
  <input
    #inputElement
    nz-input
    nzSize="small"
    *ngIf="inputVisible"
    type="text"
    [(ngModel)]="inputValue"
    style="width: 78px;"
    (blur)="handleInputConfirm()"
    (keydown.enter)="handleInputConfirm()"
  /> -->
