<ng-template let-notification="data">
  <nz-tag [nzColor]="notification.color">{{ notification.title }}</nz-tag>
  <button nz-button nzSize="small">{{ notification.message }}</button>
</ng-template>

<nz-card
  nzHoverable="true"
  nzType="inner"
  nzTitle="Aşama 3 - 2 sayfa (Url) arasında benzerlik Skorlaması"
>
  <p>
    <b>Aşama 3 :</b><br />
    Girilen 2 Url içeriğinde (Url’in gösterdiği sayfa içeriğinde) bulunan
    anahtar kelimeler yardımı ile birbirlerine olan benzerliklerini hesaplar.
    <br /><br />
    <b>Nasıl kullanılır ?</b><br />
    Aşağıda bulunan giriş alanlarına benzerliklerini incelemek istediğiniz
    Url'lerin adresini giriniz. Girilen ikinci url'in birinci url'e yüzde kaç
    oranında benzediği listelenir. Aşağıda bulunan ilk alana karşılaştırma
    yapılacak url'i giriniz.<br />
    İkinci alanda ise benzerliği incelenecek Url'in adresini giriniz.<br />
    Girilen ikinci url'in birinci url'e yüzde kaç oranında benzediği, Url
    bilgileri, anahtar kelimeleri listelenir.
    <br />
  </p>

  <nz-input-group nzSearch nzSize="large" nzAddOnBeforeIcon="link">
    <input
      [(ngModel)]="webSite"
      type="text"
      nz-input
      placeholder="http://bilgisayar.kocaeli.edu.tr"
    />
  </nz-input-group>

  <nz-input-group
    class="mt-2"
    nzSearch
    nzSize="large"
    nzAddOnBeforeIcon="appstore-add"
    [nzAddOnAfter]="addWebSite"
  >
    <input
      [(ngModel)]="sendUrl"
      type="text"
      nz-input
      placeholder="http://bilgisayar.kocaeli.edu.tr"
    />
    <ng-template #addWebSite>
      <button
        (click)="addUrl()"
        nz-button
        nzType="primary"
        class="btn btn-warning"
        nzSize="large"
        nzSearch
      >
        Hazuva Ekle
      </button>
    </ng-template>
  </nz-input-group>

  <nz-list class="mt-2" nz-list nzBordered nzSize="small">
    <nz-list-header>Havuz Listesi</nz-list-header>
    <nz-list-item *ngFor="let item of urlList; let i = index">
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button
            (click)="removeUrl(i)"
            nz-button
            nzDanger
            nzSize="small"
            nzShape="circle"
          >
            <i
              style="vertical-align: 0.125em !important"
              nz-icon
              nzType="delete"
            ></i>
          </button>
        </nz-list-item-action>
      </ul>
      <a routerLink="{{ item }}">{{ item }}</a>
    </nz-list-item>
    <nz-list-empty *ngIf="urlList.length === 0"></nz-list-empty>
  </nz-list>
  <button (click)="getSimilarity()" nz-button nzType="primary" nzBlock>
    <i nz-icon nzType="deployment-unit" nzTheme="outline"></i> Başlat
  </button>
</nz-card>

<nz-card
  nzHoverable="true"
  class="mt-2"
  *ngIf="send == true"
  nzType="inner"
  nzTitle="Sonuçlar"
>
  <div class="text-center">
    <nz-spin nzSimple></nz-spin>
  </div>
</nz-card>

<div *ngIf="result && send == false">
  <nz-ribbon nzText="Temel Site">
    <nz-card class="mt-2" nzType="inner" nzTitle="Temel Site">
      <nz-alert nzType="success" [nzDescription]="alertMessage"></nz-alert>
      <ng-template #alertMessage>
        <strong>Site Title : </strong>&nbsp;<a
          href="{{ result.webSite.url }}"
          >{{ result.webSite.title }}</a
        >
      </ng-template>

      <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader="Anahtar Kelimeler" [nzActive]="false">
          <nz-table
            class="mt-2"
            [nzPageSize]="5"
            #keywordsTable
            [nzData]="result.webSite.keywords"
            nzBordered
            nzTitle="Anahtar Kelimeler"
          >
            <thead>
              <tr>
                <th>Anahtar kelime</th>
                <th>Frekans</th>
                <th>Skor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let keyword of keywordsTable.data; let i = index">
                <td>{{ keyword.word }}</td>
                <td>
                  <span class="badge bg-secondary">{{
                    keyword.frequency
                  }}</span>
                </td>
                <td>
                  <span class="badge bg-danger">{{ keyword.score }}</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>
  </nz-ribbon>

  <nz-card class="mt-2" nzType="inner" nzTitle="Hedef Siteler">
    <nz-card
      nzHoverable="true"
      *ngFor="let webSite of result.webSitePool"
      class="mt-2"
      nzType="inner"
      nzTitle="{{ webSite.webSite.title }}"
    >



  <!--  -->

  <nz-alert nzType="info" [nzDescription]="alertMessage"></nz-alert>
  <ng-template #alertMessage>
    <div nz-row nzJustify="space-between">
      <div nz-col nzMd="12">
        <strong>Site : </strong>&nbsp;<a href="{{ webSite.webSite.url }}">{{
          webSite.webSite.title
        }}</a>
      </div>
      <div nz-col nzMd="12">
        <div nz-row nzJustify="end">
          <div nz-col>
            
            <button nz-button nzType="default" nzDanger>%{{ webSite.similarityScore }}</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <!--  -->
      <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader="Anahtar Kelimeler" [nzActive]="false">
          <nz-table
            class="mt-2"
            [nzPageSize]="5"
            #keywordsTable
            [nzData]="webSite.webSite.keywords"
            nzBordered
            nzTitle="Anahtar Kelimeler"
          >
            <thead>
              <tr>
                <th>Anahtar kelime</th>
                <th>Frekans</th>
                <th>Skor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let keyword of keywordsTable.data; let i = index">
                <td>{{ keyword.word }}</td>
                <td>
                  <span class="badge bg-secondary">{{
                    keyword.frequency
                  }}</span>
                </td>
                <td>
                  <span class="badge bg-danger">{{ keyword.score }}</span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>

    <!-- 
    <nz-collapse nzAccordion>
      <nz-collapse-panel nzHeader="Anahtar Kelimeler" [nzActive]="false">
        <nz-table
          class="mt-2"
          [nzPageSize]="5"
          #keywordsTable
          [nzData]="result.webSite.keywords"
          nzBordered
          nzTitle="Anahtar Kelimeler"
        >
          <thead>
            <tr>
              <th>Anahtar kelime</th>
              <th>Frekans</th>
              <th>Skor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let keyword of keywordsTable.data; let i = index">
              <td>{{ keyword.word }}</td>
              <td>
                <span class="badge bg-secondary">{{ keyword.frequency }}</span>
              </td>
              <td>
                <span class="badge bg-danger">{{ keyword.score }}</span>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-collapse-panel>
    </nz-collapse> -->
  </nz-card>
</div>
