<app-navbar></app-navbar>

<div style=" min-height: calc(100% - 260px);">
  <router-outlet></router-outlet>  
</div>

<nz-footer nzTheme="dark" class="text-center" 
  style="height: 100px; background-color:#7f8e9e69;">
 <div style="padding: 5px; text-align: center;">
    <img style="height: 35px; width: auto;" src="assets/image/footer.png">
    <!--<div nz-col nzSpan="8"><strong>Engin Yenice</strong></div>
    <div nz-col nzSpan="8"><h6><i nz-icon nzType="trophy" nzTheme="outline"></i></h6></div>
    <div nz-col nzSpan="8"><strong>Cemre Can Kaya</strong></div>-->
</div>
</nz-footer>